.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("./bg.jpg");
  background-repeat:repeat-y;
  background-size: cover;
}

.header {
  background-color: aliceblue;
  width: 60%;
  border: 5px black solid;
  border-radius: 10px;
  margin:auto;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  padding: 5px;

}
.main {
  width: 60%;
  background-color: aliceblue;
  border: 5px black solid;
  border-radius: 10px;
  margin:auto;
  text-align: center;
  padding: 5px;
  margin-top: 15px;
}
.menu{
  width: 100%;
  padding: 0%;
  margin-top: 0;
}
.menu li{
  display: inline-block;
  /* background-color: rgb(228, 228, 228); */
  width: 48%;
  margin: 2px;
  height: 30px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
}
.dark{
  background-color: rgb(170, 170, 170);
}
.menu li:hover{
  background-color: rgb(224, 224, 224);
}
.content{
  display: none;
}
.show-content{
  display: block;
}
.input-box{
  display: block;
  margin: auto;
  margin-bottom: 10px;
  height: 25px;
  border: 2px #282c34 solid;
  border-radius: 7px;
  width: 60%;
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
}
.label{
  display: block;
  font-weight: 500;
}
.signup-box{
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}
.button{
  display: block;
  width: 70%;
  background-color: rgb(49, 49, 127);
  color: white;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  border: 0px;
  border-radius: 8px;
}